:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #b1a7e9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

h1,
p {
  color: #00ff62;
  font-weight: bold;
}

button {
  display: flex;
  border-radius: 8px;
  border: 2px solid transparent;
  margin-top: 10px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fafafa;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #86efac;
}

button:focus,
button:focus-visible {
  outline: 4px auto #86efac;
}

button:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
}

@media (min-width: 840px) {
  .kontener {
    display: flex;
    justify-content: space-evenly;
  }
  
  .lewa {
    align-items: top;
  }
  
  .prawa {
    display: flex;
    justify-content: center;
  }
}
